<html>
    <head>
        <title>Hey Joe!</title>
    </head>
    <body>
        <div>
            <h1><a href="/">This is blog</a></h1>
        </div>

        <div>
            <p>published: 24.02.2018, 12:56</p>
            <h2><a href="">My first post</a></h2>
            <p>Where did you drink yesterday Joe? You're smelling like a dog!</p>
        </div>

        <div>
          <p>published: 24.02.2018, 12:57</p>
            <h2><a href="">My second post</a></h2>
            <p>Where did you go yesterday Joe? You're looking like a dog!</p>
        </div>
    </body>
</html>
